.enigma {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;

  padding-top: 50px;
}

.rotors {
  width: 100%;
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.rotor-sort {
  width: 15%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    cursor: row-resize;
    margin: 22px 0;
    padding: 1px;
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.rotor-wheels {
  width: 85%;
  float: left;
  display: flex;
  flex-direction: column;
}
