.rotor {
  width: 85%;
  float: right;
  margin: 10px 0;
  cursor: -webkit-grab;

  .rotorItem {
    border: 1px solid black;
    text-align: center;
    background: $gray;

    h4 {
      padding: 10px;
    }
  }

  .slick-center {
    background: $blue;
  }

}
